[user]
	name = bindsdev
	email = bindsdev@gmail.com
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
[core]
	editor = helix
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
